<div class="card">
  <h4 class="card-header">
    Car Profile for <%= @car_profile.car.brand_model %>
  </h4>
  <div class="card-body">
    <p class="card-text">
      <div class="row">
        <div class="col">
          <div class="card">
            <h5 class="card-header">Road Tax Expired Date</h5>
            <div class="card-body">
              <p class="card-text"><%= @car_profile.road_tax_expired_date.nil? ? "N/A" : @car_profile.road_tax_expired_date.strftime("%d %B %Y") %></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <h5 class="card-header">Plate Number</h5>
            <div class="card-body">
              <p class="card-text text-uppercase"><%= @car_profile.plate_number.nil? ? "N/A" : @car_profile.plate_number %></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <h5 class="card-header">Chasis Number</h5>
            <div class="card-body">
              <p class="card-text text-uppercase"><%= @car_profile.chasis_number.nil? ? "N/A" : @car_profile.chasis_number %></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <h5 class="card-header">Last Service</h5>
            <div class="card-body">
              <p class="card-text"><%= @car_profile.last_service.nil? ? "N/A" : @car_profile.last_service.strftime("%d %B %Y") %></p>
            </div>
          </div>
        </div>
      </div>
    </p>
  </div>
</div>

<hr>

<%= link_to "Edit this car profile", edit_car_car_profiles_path(@car_profile.car_id), class: "btn btn-primary" %>
<%= link_to "Go to car details", car_path(@car_profile.car_id), class: "btn btn-secondary" %>
<%= link_to "Back to car listing", cars_path, class: "btn btn-link" %>
