<table class="table table-bordered table-hover table-responsive">
  <thead class="thead-inverse">
    <tr>
      <th colspan="2" class="text-center">
        COMPANY DETAILS
        <%= link_to 'Edit', edit_company_profiles_path, class: "btn btn-sm btn-link" %>
      </th>
    </tr>
  </thead>
  <tbody>
    <!-- Person in charge -->
    <tr class="thead-inverse">
      <th scope="row" colspan="2">Person in Charge</th>
    </tr>
    <tr>
      <th scope="row">Name</th>
      <td><%= @company_profile.pic_fullname %></td>
    </tr>
    <tr>
      <th scope="row">Phone Number</th>
      <td><%= @company_profile.pic_phone_number %></td>
    </tr>
    <tr>
      <th scope="row">Position</th>
      <td><%= @company_profile.pic_position %></td>
    </tr>
    <tr>
      <th scope="row">E-Mail</th>
      <td><%= @company_profile.pic_email %></td>
    </tr>
    <!-- Company Details -->
    <tr class="thead-inverse">
      <th scope="row" colspan="2">Company Details</th>
    </tr>
    <tr>
      <th scope="row">Logo</th>
      <td><%= @company_profile.c_profile_picture.nil? ? "N/A" : image_tag(@company_profile.c_profile_picture_url(:thumbnail), class: "rounded") %></td>
    </tr>
    <tr>
      <th scope="row">Name</th>
      <td><%= @company_profile.c_name %></td>
    </tr>
    <tr>
      <th scope="row">Registration Number</th>
      <td><%= @company_profile.c_reg_number %></td>
    </tr>
    <tr>
      <th scope="row">Address</th>
      <td><%= @company_profile.c_address %></td>
    </tr>
    <tr>
      <th scope="row">City</th>
      <td><%= @company_profile.c_city %></td>
    </tr>
    <tr>
      <th scope="row">Postcode</th>
      <td><%= @company_profile.c_postcode %></td>
    </tr>
    <tr>
      <th scope="row">State</th>
      <td><%= @company_profile.c_state %></td>
    </tr>
    <tr>
      <th scope="row">Country</th>
      <td><%= @company_profile.c_country %></td>
    </tr>
    <tr>
      <th scope="row">Phone Number</th>
      <td><%= @company_profile.c_phone_number %></td>
    </tr>
    <tr>
      <th scope="row">Website</th>
      <td><%= @company_profile.c_website %></td>
    </tr>
    <tr>
      <th scope="row">E-Mail</th>
      <td><%= @company_profile.c_email %></td>
    </tr>
  </tbody>
</table>
