<p id="notice"><%= notice %></p>

<p>
  <strong>pic_fullname:</strong>
  <%= @company_profile.pic_fullname %>
</p>

<p>
  <strong>pic_phone_number:</strong>
  <%= @company_profile.pic_phone_number %>
</p>

<p>
  <strong>pic_position:</strong>
  <%= @company_profile.pic_position %>
</p>

<p>
  <strong>pic_email:</strong>
  <%= @company_profile.pic_email %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @company_profile.c_name %>
</p>

<p>
  <strong>c_reg_number:</strong>
  <%= @company_profile.c_reg_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company_profile.c_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @company_profile.c_city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @company_profile.c_postcode %>
</p>

<p>
  <strong>State:</strong>
  <%= @company_profile.c_state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company_profile.c_country %>
</p>

<p>
  <strong>c_phone_number:</strong>
  <%= @company_profile.c_phone_number %>
</p>

<p>
  <strong>c_website:</strong>
  <%= @company_profile.c_website %>
</p>

<p>
  <strong>c_email:</strong>
  <%= @company_profile.c_email %>
</p>

<%= link_to 'Edit', edit_company_profiles_path %>
