<% if @car.errors.any? %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong><%= pluralize(@car.errors.count, "error") %> prohibited this user from being saved:</strong>
  <ul>
    <% @car.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :brand_id, class: "form-control-label" %>
    <%= f.collection_select :brand_id, Brand.order(:name), :id, :name, {include_blank: true}, {class: "form-control"} %>
</div>

<div class="form-group" style="display:none;">
  <%= f.label :model_id, class: "form-control-label" %>
  <%= f.grouped_collection_select :model_id, Brand.order(:name), :models, :name, :id, :name, {include_blank: true}, {class: "form-control"} %>
</div>

<div class="form-row">
  <div class="col">
    <div class="form-group">
      <%= f.label :price_hourly, class: "form-control-label" %>
      <%= f.number_field :price_hourly, class: "form-control" %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= f.label :price_daily, class: "form-control-label" %>
      <%= f.number_field :price_daily, class: "form-control" %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= f.label :price_weekly, class: "form-control-label" %>
      <%= f.number_field :price_weekly, class: "form-control" %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= f.label :price_monthly, class: "form-control-label" %>
      <%= f.number_field :price_monthly, class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :note, class: "form-control-label" %>
  <%= f.text_area :note, class: "form-control", rows: 4 %>
</div>

<div class="actions">
  <%= f.submit "Submit", class: "btn btn-primary" %>
  <%= link_to "Cancel", cars_path, class: "btn btn-default" %>
</div>
