<h1>Car List</h1>
<hr>

<%= link_to "Add New Car", new_car_path, class: "btn btn-primary btn-sm pull-right", data: { turbolinks: false } %>

<table class="table table-bordered table-hover table-responsive">
  <thead class="thead-inverse">
    <tr>
      <th scope="row">#</th>
      <th style="width:35em">Car Model</th>
      <th style="width:10em">Price Daily</th>
      <th style="width:10em">Accessories</th>
      <th style="width:10em">Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each_with_index do |car, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= car.brand_model %> <small><%= if car.status == "pending" then link_to "set car profile", car_car_profiles_path(car) else link_to "view car profile", car_car_profiles_path(car) end %></small></td>
      <td><%= number_to_currency(car.price_daily, unit: "RM") %></td>
      <td><%= car.accessories.exists? ? car.accessories.map { |accessory| accessory.name }.join(', ').html_safe : "N/A" %></td>
      <td><%= check_status(car) %></td>
      <td>
        <div class="btn-group btn-group-sm" role="group">
          <%= link_to "Show", car_path(car), class: "btn btn-primary" %>
          <%= link_to "Edit", edit_car_path(car), class: "btn btn-warning" %>
          <% if car.available? %>
            <%= link_to "Delete", car_path(car), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
          <% end %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
