<nav class="nav nav-tabs nav-fill" id="myTab" role="tablist">
  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-car-details" role="tab" aria-controls="nav-home" aria-expanded="true">Car Details</a>
  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-car-profile" role="tab" aria-controls="nav-profile">Car Profile</a>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-car-details" role="tabpanel" aria-labelledby="nav-car-details-tab">

    <div class="card">
      <h4 class="card-header">
        <%= @car.brand_model %> <%= check_status(@car) %>
      </h4>
      <div class="card-body">
        <p class="card-text">
          <div class="row">
            <div class="col">
              <div class="card">
                <h5 class="card-header">Price Per Hour</h5>
                <div class="card-body">
                  <p class="card-text"><%= number_to_currency(@car.price_hourly, unit: "RM") %></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <h5 class="card-header">Price Per Day</h5>
                <div class="card-body">
                  <p class="card-text"><%= number_to_currency(@car.price_daily, unit: "RM") %></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <h5 class="card-header">Price Per Week</h5>
                <div class="card-body">
                  <p class="card-text"><%= number_to_currency(@car.price_weekly, unit: "RM") %></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <h5 class="card-header">Price Per Month</h5>
                <div class="card-body">
                  <p class="card-text"><%= number_to_currency(@car.price_monthly, unit: "RM") %></p>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <p>Accessories:</p>
          <p><%= @car.accessories.exists? ? @car.accessories.map { |accessory| "\<i class='fa fa-check-square fa-lg'\>\<\/i\> " + accessory.name }.join(' ').html_safe : "N/A" %></p>
          <hr>
          <p>Note:</p>
          <p><%= @car.note.nil? ? "NA" : @car.note %></p>
        </p>
        <p class="card-text">
          <small class="text-muted">Added on <%= @car.created_at.strftime("%d %B %Y") %></small>
        </p>
      </div>
    </div>

    <hr>

    <%= link_to "Edit this car", edit_car_path(@car), class: "btn btn-primary" %>
    <%= link_to "Back", cars_path, class: "btn btn-link" %>

  </div>
  <div class="tab-pane fade" id="nav-car-profile" role="tabpanel" aria-labelledby="nav-car-profile-tab">

    <div class="card">
      <h4 class="card-header">
        Car Profile for <%= @car_profile.car.brand_model %>
      </h4>
      <div class="card-body">
        <p class="card-text">
          <div class="row">
            <div class="col">
              <div class="card">
                <h5 class="card-header">Road Tax Expired Date</h5>
                <div class="card-body">
                  <p class="card-text"><%= @car_profile.road_tax_expired_date.strftime("%d %B %Y") %></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <h5 class="card-header">Plate Number</h5>
                <div class="card-body">
                  <p class="card-text"><%= @car_profile.plate_number %></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <h5 class="card-header">Chasis Number</h5>
                <div class="card-body">
                  <p class="card-text"><%= @car_profile.chasis_number %></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <h5 class="card-header">Last Service</h5>
                <div class="card-body">
                  <p class="card-text"><%= @car_profile.last_service.strftime("%d %B %Y") %></p>
                </div>
              </div>
            </div>
          </div>
        </p>
      </div>
    </div>

    <hr>

    <%= link_to "Edit this car profile", edit_car_car_profiles_path(@car_profile.car_id), class: "btn btn-primary" %>
    <%= link_to "Back to car listing", cars_path, class: "btn btn-link" %>

  </div>
</div>
